<header class="header" data-parallax="scroll" data-image-src="img/header-bg-opt.jpg" data-speed="0.85" data-bleed="100">

  <div class="container">
    <div class="title-card">
      <h1>STRAP</h1>
      <div class="subtext">
        <p class="tagline"><span class="technical">Technical</span><br><span class="research">Research</span></p>
        <p class="since"><span class="top">Since 2006&nbsp;&nbsp;&middot;&nbsp;&nbsp;Made in </span><br><span class="bottom">N. Holland, Netherlands</span></p>
      </div>
    </div>
  </div>

</header>
